.dw-buttons-container {
    margin: 5px 0px 10px;
}

.dw-buttons-container > a.link {
    display: inline-block;
    margin: 0px 5px 5px 0px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 3px 3px 3px 5px;
    color: orange;
}
